.coinscoinscoins {
  border: 1px solid 25%;
  background-color: grey;
  height: 200px;
  width: 200px;
  font-family: monospace;
  color: #fff;
  text-align: center;
  position:absolute;
  bottom: 0;
  right: 0;
}

.coinscoinscoins h3 {
  padding-top: 5px;
}
